html {
  background-color: white;
  background-size: contain;
  font-family: "puhuiti", sans-serif;
}

body {
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (max-height: 580px) and (min-height: 271px) {
  body {
    overflow-y: auto;
  }
}

@media screen and (max-height: 271px) {
  body {
    overflow-y: hidden;
  }
}
