$black: #333;
$white: #fdfdfd;
$bgwhite: #fafafa;
$labelgrey: rgb(179, 179, 179);
$darklabelgrey: rgb(122, 122, 122);
$inputgrey: rgb(230, 230, 230);
$hovergrey: rgb(190, 184, 184);
$activegrey: rgb(133, 128, 128);
$buttongrey: rgb(33, 33, 33);
$lightbuttongrey: rgb(240, 240, 240);
$lightgrey: rgb(238, 238, 238);
$lightergrey: rgb(247, 247, 247);
$green: rgb(138, 200, 109);
$hovergreen: rgb(89, 175, 81);
$activegreen: rgb(138, 219, 100);
$red: rgb(204, 87, 87);
$hoverred: rgb(224, 64, 64);
$activered: rgb(226, 143, 143);
$seagreen: rgb(109, 200, 154);

html {
  background: $bgwhite;
  background-size: contain;
  overflow: hidden;
}

body {
  height: 100vh;
  font-family: '-apple-system', 'San Francisco', BlinkMacSystemFont, 'Helvetica Neue', Helvetica, "PingFang SC", "Alibaba PuHuiTi", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "icon";
  src: url("../font/fontello.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#nbsppart {
  padding-top: 16vh;
}

#timingnbsppart {
  padding-top: 16vh;
}

#tutorialnbsppart {
  padding-top: 8vh;
}

#settingsnbsppart {
  padding-top: 8vh;
}

input{  
  background:none;  
  outline:none;  
  border:none;
}

input:focus{   
  border:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
 
input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.setting-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
}

.hr {
  height: 1rem;
}

*{
  outline:none;
  border-color: transparent;
  box-shadow: none;
}

::-moz-focus-inner {
  border-color: transparent;
}

.largebtn {
  padding: 0.45rem 3.68rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-radius: 0.2rem;
  background: $lightbuttongrey;
}

.largebtn:hover {
  background: $lightergrey;
}

.largebtn:active {
  background: $lightgrey;
}

.largebtn-notbtn {
  padding: 0.45rem 3.7rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
}

.largebtn-innertext {
  width: 4rem;
  font-weight: 700;
  font-size:  0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}

.digitaltop, .label, .small {
  text-transform: uppercase;
  color: $labelgrey;
  font-weight: 750;
  font-size: 0.6rem;
  letter-spacing: 0.03rem;
  width: 11rem;
}

.smallerlabel {
  font-weight: 700;
  font-size: 0.4rem;
  color: $hovergrey;
}

.smallerlabelfather {
  height: 0.55rem;
  transform: translate(0, -0.3rem);
}

.small {
  cursor: auto;
  font-size: 0.5rem;
}

.digitalfather {
  background: $lightgrey;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-top: 0.2rem;
  width: 11.007rem;
}

.digitalfather:hover {
  background: $lightergrey;
}

.digitalfather:active {
  background: $inputgrey;
}

.digitalfather-notinput {
  cursor: default;
}

.digitalfather-notinput:hover {
  background: $lightgrey;
}

.digitalfather-notinput:active {
  background: $lightgrey;
}

.digital {
  font-weight: 500;
  font-size: 1.2rem;
  width: 8.999rem;
  display: inline-block;
  padding-top: 0em!important;
  padding-right: 0em!important;
  padding-bottom: 0em!important;
  padding-left: 0em!important;
}

.digitalnote {
  width: 2rem;
  text-align: right;
  box-sizing: border-box;
  color: $labelgrey;
}

.startbtn {
  background: $green;
}

.startbtn:hover {
  background: $hovergreen;
}

.startbtn:active {
  background: $activegreen;
}

.startbtn div {
  color: $white;
}

.stopbtn {
  background: $red;
}

.stopbtn:hover {
  background: $hoverred;
}

.stopbtn:active {
  background: $activered;
}

.stopbtn div {
  color: $white;
}

.title {
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.03rem;
  color: $labelgrey;
  text-align: center;
}

.titlebtns {
  text-align: center;
  padding-top: 0.3rem;
}

.titlebtns button {
  background: transparent;
  color: $labelgrey;
  font-size: 1.15rem;
  font-weight: 500;
  padding: 0;
  cursor: pointer;
  margin-right: 0.24rem;
}

.titlebtns button:hover {
  color: $buttongrey;
}

.titlebtns button:active {
  color: $activegrey;
}

.about::before {
  font-family: 'icon';
  content: '\e801';
}

.about {
  font-size: 1.1rem!important;
}

.settings::before {
  font-family: 'icon';
  content: '\e805';
}

.exit::before {
  font-family: 'icon';
  content: '\e804';
}

.exit {
  font-size: 1.25rem!important;
  margin-right: 0rem!important;
}

.back, .settingleftbtn .back {
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url('../img/back.svg');
}

.back:hover, .settingleftbtn:hover .back {
  background-image: url('../img/back-white.svg');
}

.back:active, .settingleftbtn:active .back {
  background-image: url('../img/back.svg');
}

.settingleftbtn {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  background: transparent;
  border-radius: 0.2rem;
  margin-top: 0.4rem;
  margin-right: 0.8rem;
  background-color: $lightbuttongrey;
}

.settingleftbtn:hover {
  color: $bgwhite;
  background: $black;
}

.settingleftbtn:active {
  color: $black;
  background: $inputgrey;
}

.chromeheight {
  transform: translate(-0.05rem, 0.1rem);
}

.submit {
  cursor: pointer;
  width: 1.417rem;
  height: 1.417rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $lightbuttongrey;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 0.2rem;
  background-image: url('../img/submit.svg');
}

.submit:hover {
  background-image: url('../img/submit-white.svg');
  background-color: $hovergreen;
}

.submit:active {
  background-image: url('../img/submit-white.svg');
  background-color: $seagreen;
}

.settinginput {
  background: $lightgrey;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-top: 0.2rem;
  height: 0.817rem;
  font-weight: 600;
  font-size: 0.6rem;
}

.settingfield {
  padding-bottom: 0.9rem;
}

.check-a {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900!important;
}

.warnfather {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.warn {
  color: $red;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.55rem;
  width: 10rem;
  letter-spacing: 0.03rem;
  padding-top: 0.05rem;
  text-align: center;
  margin-top: 0.5rem;
}

.warnnotinteger {
  margin-top: 0!important;
  text-align: left;
}   

.warnnotintegerfather {
  margin-top: 0;
  padding-top: 0;
}

.canceltext {
  display: inline-block;
  padding: 0!important;
  font-size: 0.55rem;
  margin-top: 0;
  width: 11rem;
  text-align: center;
}

.cancelbtn {
  margin-top: 0;
}

.canceltextfather {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.notifyfather {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.55rem;
  width: 10rem;
  letter-spacing: 0.03rem;
  margin-top: 0.2rem;
}

.notifyfather-about {
  width: 11.8rem;
}

.notifyfather-over {
  width: 11.6rem;
  font-size: 0.7rem;
}

.warn-over {
  text-align: left;
  margin-top: 0.2rem;
  width: 11.6rem;
  font-size: 0.7rem;
}

.warnfather-over {
  justify-content: left;
}

.authorinfo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.4rem;
  width: 10rem;
  letter-spacing: 0.03rem;
  margin-top: 0.1rem;
  color: $hovergrey;
}

.weblimited {
  width: 100vw;
  text-align: center;
  color: $activered;
}

.tutorial-a {
  color: $darklabelgrey;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.tutorial-a:hover {
  color: $labelgrey;
  text-decoration: none;
  cursor: pointer;
}

.tutorial-a:active {
  color: $lightgrey;
  text-decoration: none;
  cursor: pointer;
}

.select, .input-btn {
	display: flex;
	align-items: center;
  flex-direction: row;
  padding-top: 0.1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: $black;
  font-weight: 750;
  font-size: 0.6rem;
  letter-spacing: 0.03rem;
  width: 11rem;
}

.switch-on {
  cursor: pointer;
  margin-left: 0.3rem;
  padding-left: 0;
  margin-right: 0.3rem;
  border-radius: 0.2rem;
  width: 2.3rem;
  height: 1.4rem;
  background-color: $lightbuttongrey;
  .switchson {
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 0.1rem;
    width: 1rem;
    height: 1rem;
    background-color: $activered;
  }
}

.switch-off {
  cursor: pointer;
  margin-left: 0.3rem;
  padding-left: 0;
  margin-right: 0.3rem;
  border-radius: 0.2rem;
  width: 2.3rem;
  height: 1.4rem;
  background-color: $lightbuttongrey;
  .switchson {
    cursor: pointer;
    margin-left: 0.2rem;
    border-radius: 0.1rem;
    width: 1rem;
    height: 1rem;
    background-color: $seagreen;
  }
}

#gameicon {
  padding-top: 0.5rem;
  height: 7rem;
}

#gameicon-page1-page6 {
  padding-top: 0.5rem;
  height: 3.6rem;
}

#gameiconfather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagetitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.pagetext {
  padding-top: 0.3rem;
  font-size: 0.5rem;
  color: $labelgrey;
  width: 11.5rem;
}

.tutorialskiptext {
  font-size: 0.5rem;
}

.red {
  color: $red;
}

.tostartonlogin {
  display: inline-block;
  width: 11rem;
  font-size: 0.5rem;
  padding: 0;
}

.notlockmode {
  flex-direction: column;
  align-items: flex-start;
}

.notlockmode_latterdiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.lockmode_enterpwd {
  width: 100vw;
  height: 100vh;
  background-color: $bgwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lockmode_enterpwd-btn {
  width: 11rem;
}

.warnlockmodefather {
  transform: translateX(-0.46rem);
}

.lockmodenoticefather {
  transform: translateY(0);
}

::placeholder {
  color: $activegrey;
}

@media screen and (min-width: 321px) {
  #main {
    background: $white;
    padding: 3rem 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1);
  }
}

@media screen and (max-height: 580px) and (min-height: 271px) {
  html {
    overflow-y: auto;
  }
}

@media screen and (max-height: 271px) {
  html {
    overflow-y: hidden;
  }
  #tutorialnbsppart {
    padding-top: 2vh;
  }
  #timingnbsppart {
    padding-top: 9vh;
  }
  #timingcancelnbsppart {
    padding-top: 10vh;
  }
}

@media screen and (min-width: 501px) {
  html {
    font-size: 24px;
  }
  .largebtn {
    padding: 0.45rem 3.72rem;
  }
}

.Breadstick__alert {
  -webkit-app-region: no-drag;
  font-size: 0.6rem!important;
  margin-top: 0.6rem!important;
  margin-right: 1rem!important;
  opacity: 0.8;
  background: $lightbuttongrey;
  box-shadow: 0 0.2rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1);
}