$black: #333;
$white: #fdfdfd;
$bgwhite: #fafafa;
$darkerwhite: #f7f7f7;
$labelgrey: rgb(179, 179, 179);
$darklabelgrey: rgb(122, 122, 122);
$inputgrey: rgb(230, 230, 230);
$hovergrey: rgb(190, 184, 184);
$activegrey: rgb(133, 128, 128);
$buttongrey: rgb(33, 33, 33);
$lightbuttongrey: rgb(240, 240, 240);
$lightgrey: rgb(238, 238, 238);
$lightergrey: rgb(247, 247, 247);
$green: rgb(138, 200, 109);
$hovergreen: rgb(89, 175, 81);
$activegreen: rgb(138, 219, 100);
$red: rgb(204, 87, 87);
$hoverred: rgb(224, 64, 64);
$darkerhoverred: rgb(194, 76, 76);
$activered: rgb(226, 143, 143);
$seagreen: rgb(109, 200, 154);
$ultralightseagreen: rgb(239, 247, 243);
$ultradarkseagreen: rgb(121, 131, 126);
$transparenterblack: rgba(51, 51, 51, 0.801);
$blue: rgba(94, 158, 221, 0.897);
$hoverblue: rgb(81, 111, 175);
$activeblue: rgb(108, 148, 199);

html {
  background: $bgwhite;
  background-size: contain;
  overflow: hidden;
}

body {
  height: 100vh;
  font-family: '-apple-system', 'San Francisco', BlinkMacSystemFont, 'Helvetica Neue', Helvetica, "PingFang SC", "Alibaba PuHuiTi", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "icon";
  src: url("../font/fontello.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

#nbsppart {
  padding-top: 16vh;
}

#timingnbsppart {
  padding-top: 16vh;
}

#tutorialnbsppart {
  padding-top: 8vh;
}

#settingsnbsppart {
  padding-top: 8vh;
}

#overnbsppart {
  padding-top: 16vh;
}

input {
  background: none;
  outline: none;
  border: none;
}

input:focus {
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.setting-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
}

.hr {
  height: 1rem;
}

* {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

::-moz-focus-inner {
  border-color: transparent;
}

.largebtn {
  padding: 0.45rem 3.68rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-radius: 0.2rem;
  background: $lightbuttongrey;
}

.largebtn:hover {
  background: $lightergrey;
}

.largebtn:active {
  background: $lightgrey;
}

.largebtn-notbtn {
  padding: 0.45rem 3.7rem;
  margin: 0.5rem 0;
  border-radius: 0.2rem;
}

.largebtn-innertext {
  width: 4rem;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}

.largebtn-ontop {
  width: 130px;
  height: 40px;
  padding-left: 30px;
  cursor: pointer;
  background: $lightergrey;
}

.largebtn-ontop:hover {
  background: $lightbuttongrey;
}

.largebtn-ontop:active {
  background: $lightgrey;
}

.digitaltop,
.label,
.small {
  text-transform: uppercase;
  color: $labelgrey;
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: 0.03rem;
  width: 11rem;
}

.smallerlabel {
  font-weight: 700;
  font-size: 0.4rem;
  color: $hovergrey;
}

.smallerlabelfather {
  height: 0.55rem;
  transform: translate(0, -0.3rem);
}

.small {
  cursor: auto;
  font-size: 0.5rem;
}

.digitalfather {
  background: $lightgrey;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-top: 0.2rem;
  width: 11.007rem;
}

.digitalfather:hover {
  background: $lightergrey;
}

.digitalfather:active {
  background: $inputgrey;
}

.digitalfather-notinput {
  cursor: default;
}

.digitalfather-notinput:hover {
  background: $lightgrey;
}

.digitalfather-notinput:active {
  background: $lightgrey;
}

.digital {
  font-weight: 500;
  font-size: 1.2rem;
  width: 8.999rem;
  display: inline-block;
  padding-top: 0em !important;
  padding-right: 0em !important;
  padding-bottom: 0em !important;
  padding-left: 0em !important;
}

.digitalnote {
  width: 2rem;
  text-align: right;
  box-sizing: border-box;
  color: $labelgrey;
}

.digitalfather-ontop {
  width: 190px;
  height: 100px;
  margin-top: 20px;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.digital-ontop {
  font-weight: 600;
  font-size: 50px;
  height: 50px;
}

#main-ontop-right { 
  height: 100px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  background-color: $lightergrey;
}

.startbtn {
  background: $green;
}

.startbtn:hover {
  background: $hovergreen;
}

.startbtn:active {
  background: $activegreen;
}

.todaybtn {
  background: $blue;
}

.todaybtn:hover {
  background: $hoverblue;
}

.todaybtn:active {
  background: $activeblue;
}

.startbtn div {
  color: $white;
}

.stopbtn {
  background: $red;
}

.stopbtn:hover {
  background: $hoverred;
}

.stopbtn:active {
  background: $activered;
}

.stopbtn div {
  color: $white;
}

.title {
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.03rem;
  color: $labelgrey;
  text-align: center;
}

.titlebtns {
  text-align: center;
  padding-top: 0.3rem;
}

.titlebtns button {
  background: transparent;
  color: $labelgrey;
  font-size: 1.15rem;
  font-weight: 500;
  padding: 0;
  cursor: pointer;
  margin-right: 0.24rem;
}

.titlebtns button:hover {
  color: $buttongrey;
}

.titlebtns button:active {
  color: $activegrey;
}

.about::before {
  font-family: 'icon';
  content: '\e801';
}

.about {
  font-size: 1.1rem !important;
}

.settings::before {
  font-family: 'icon';
  content: '\e805';
}

.exit::before {
  font-family: 'icon';
  content: '\e804';
}

.exit {
  font-size: 1.25rem !important;
  margin-right: 0rem !important;
}

.back,
.settingleftbtn .back {
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url('../img/back.svg');
}

.back:hover,
.settingleftbtn:hover .back {
  background-image: url('../img/back-white.svg');
}

.back:active,
.settingleftbtn:active .back {
  background-image: url('../img/back.svg');
}

.settingleftbtn {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  background: transparent;
  border-radius: 0.2rem;
  margin-top: 0.4rem;
  margin-right: 0.8rem;
  background-color: $lightbuttongrey;
}

.settingleftbtn:hover {
  color: $bgwhite;
  background: $black;
}

.settingleftbtn:active {
  color: $black;
  background: $inputgrey;
}

.chromeheight {
  transform: translate(-0.05rem, 0.1rem);
}

.submit {
  cursor: pointer;
  width: 1.417rem;
  height: 1.417rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $lightbuttongrey;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 0.2rem;
  background-image: url('../img/submit.svg');
}

.submit:hover {
  background-image: url('../img/submit-white.svg');
  background-color: $hovergreen;
}

.submit:active {
  background-image: url('../img/submit-white.svg');
  background-color: $seagreen;
}

.submit-back {
  cursor: pointer;
  width: 1.417rem;
  height: 1.417rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $lightbuttongrey;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 0.2rem;
  background-image: url('../img/back-smaller.svg');
}

.submit-back:hover {
  background-image: url('../img/back-smaller-white.svg');
  background-color: $hovergreen;
}

.submit-back:active {
  background-image: url('../img/back-smaller-white.svg');
  background-color: $seagreen;
}

.settinginput {
  background: $lightgrey;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin-top: 0.2rem;
  height: 0.817rem;
  font-weight: 600;
  font-size: 0.6rem;
}

.settingfield {
  padding-bottom: 0.9rem;
}

.check-a {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 900 !important;
}

.warnfather {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.warn {
  color: $red;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.55rem;
  width: 10rem;
  letter-spacing: 0.03rem;
  padding-top: 0.05rem;
  text-align: center;
  margin-top: 0.5rem;
}

.warnredeem {
  width: 11.6rem;
  transform: translateX(0.8rem);
}

.warnnotinteger {
  margin-top: 0 !important;
  text-align: left;
}

.warnnotintegerfather {
  margin-top: 0;
  padding-top: 0;
}

.canceltext {
  display: inline-block;
  padding: 0 !important;
  font-size: 0.55rem;
  margin-bottom: 0rem;
  width: 11rem;
  text-align: center;
}

.cancelbtn {
  margin-top: 0;
}

.canceltextfather {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.notifyfather {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.55rem;
  width: 10rem;
  letter-spacing: 0.03rem;
  margin-top: 0.2rem;
}

.notifyfather-about {
  width: 11.8rem;
}

.notifyfather-over {
  width: 11.6rem;
  font-size: 0.7rem;
}

.warn-over {
  text-align: left;
  margin-top: 0.2rem;
  width: 11.6rem;
  font-size: 0.56rem;
  
}

.warnfather-over {
  justify-content: left;
}

.authorinfo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.4rem;
  width: 10rem;
  letter-spacing: 0.03rem;
  margin-top: 0.1rem;
  color: $hovergrey;
}

.weblimited {
  width: 100vw;
  text-align: center;
  color: $activered;
}

.tutorial-a {
  color: $darklabelgrey;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.tutorial-a:hover {
  color: $labelgrey;
  text-decoration: none;
  cursor: pointer;
}

.tutorial-a:active {
  color: $lightgrey;
  text-decoration: none;
  cursor: pointer;
}

.select,
.input-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 0.1rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: $black;
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: 0.03rem;
  width: 11rem;
}

.switch-on {
  cursor: pointer;
  margin-left: 0.3rem;
  padding-left: 0;
  margin-right: 0.3rem;
  border-radius: 0.2rem;
  width: 2.3rem;
  height: 1.4rem;
  background-color: $lightbuttongrey;

  .switchson {
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 0.1rem;
    width: 1rem;
    height: 1rem;
    background-color: $activered;
  }
}

.switch-off {
  cursor: pointer;
  margin-left: 0.3rem;
  padding-left: 0;
  margin-right: 0.3rem;
  border-radius: 0.2rem;
  width: 2.3rem;
  height: 1.4rem;
  background-color: $lightbuttongrey;

  .switchson {
    cursor: pointer;
    margin-left: 0.2rem;
    border-radius: 0.1rem;
    width: 1rem;
    height: 1rem;
    background-color: $seagreen;
  }
}

#gameicon {
  padding-top: 0.5rem;
  height: 7rem;
}

#gameicon-page1-page6 {
  padding-top: 0.5rem;
  height: 3.6rem;
}

#gameiconfather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagetitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.pagetext {
  padding-top: 0.3rem;
  font-size: 0.5rem;
  color: $labelgrey;
  width: 11.5rem;
}

.tutorialskiptext {
  font-size: 0.5rem;
}

.red {
  color: $red;
}

.tostartonlogin {
  display: inline-block;
  width: 11rem;
  font-size: 0.5rem;
  padding: 0;
}

.notlockmode {
  flex-direction: column;
  align-items: flex-start;
}

.notlockmode_latterdiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.lockmode_enterpwd {
  width: 100vw;
  height: 100vh;
  background-color: $bgwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lockmode_enterpwd-btn {
  width: 12rem;
}

.warnlockmodefather {
  transform: translateX(-0.46rem);
}

.lockmodenoticefather {
  transform: translateY(0);
}

::placeholder {
  color: $activegrey;
}

.popuptitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.popupdesc {
  font-weight: 500;
  font-size: 0.6rem;
  color: $darklabelgrey;
}

.popup {
  width: 14.4rem;
  height: 2.6rem;
  transform: translateY(-0.7rem);
  z-index: 102;
  background: $white;
  border-radius: 0.3rem;
  box-shadow: 0 0.15rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1);
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  display: flex;
  flex-direction: row;
}

#popupnbsppart {
  padding-top: 0.8rem;
}

.popupdecoration-left {
  width: 0.2rem;
  height: 4.4rem;
  margin-right: 1rem;
  margin-left: 0.3rem;
  transform: translateY(-0.8rem);
}

.popupdecoration-right {
  width: 0.2rem;
  height: 4.4rem;
  margin-left: 1rem;
  margin-right: 0.3rem;
  transform: translateY(-0.8rem);
}

@media screen and (min-width: 321px) {
  #main {
    z-index: 101;
    background: $white;
    padding: 3rem 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1), 0 -0.2rem 0.7rem 0.2rem rgba(65, 64, 63, 0.05);
  }
  #behind {
    width: 14.5rem;
    height: 3rem;
    transform: translateY(2.4rem);
    z-index: 100;
    background: $darkerwhite;
    border-radius: 0.3rem;
    box-shadow: 0 -0.1rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1);
  }
  #behind-touch {
    width: 16rem;
    height: 3rem;
    transform: translateY(4rem);
    z-index: 100;
  }
  #behind-down {
    width: 14.5rem;
    height: 3rem;
    transform: translateY(-2.4rem);
    z-index: 100;
    background: $darkerwhite;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1);
  }
  #behind-down-touch {
    width: 16rem;
    height: 3rem;
    transform: translateY(-4rem);
    z-index: 100;
  }
  .popup {
    width: 14rem;
    height: 3rem;
    transform: translateY(2.4rem);
    z-index: 102;
    background: $white;
    border-radius: 0.3rem;
    box-shadow: 0 0.15rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .popupdecoration-left {
    height: 4.2rem;
    transform: translateY(-0.6rem);
  }
  .popupdecoration-right {
    height: 4.2rem;
    transform: translateY(-0.6rem);
  }
}

.main-ontop {
  display: flex;
  flex-direction: row;
  width: 320px;
}

@media screen and (max-height: 580px) and (min-height: 271px) {
  html {
    overflow-y: auto;
  }
}

@media screen and (max-height: 271px) {
  html {
    overflow-y: hidden;
  }

  #tutorialnbsppart {
    padding-top: 2vh;
  }

  #timingnbsppart {
    padding-top: 4vh;
  }
}

@media screen and (max-height: 320px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 501px) {
  html {
    font-size: 24px;
  }

  .largebtn {
    padding: 0.45rem 3.72rem;
  }
}

.Breadstick__alert {
  -webkit-app-region: no-drag;
  font-size: 0.6rem !important;
  margin-top: 0.6rem !important;
  margin-right: 1rem !important;
  opacity: 0.8;
  background: $lightbuttongrey;
  box-shadow: 0 0.2rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1);
  max-width: 10rem !important;
  min-height: 1.2rem!important;
}

::selection {
  color: $ultradarkseagreen;
  background-color: $ultralightseagreen;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  border-radius: 0px;
  background-color: #F1F1F1;
}

::-webkit-scrollbar:hover {
  background: #DCE1E4;
}

::-webkit-scrollbar-thumb {
  background-color: #C1C8CC;
  border: solid 1px #B5BBBF;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6C7073;
  border-color: #5F6366;
}

::-webkit-scrollbar-button {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  border: 1px solid #B5BBBF;
  display: none;
}

::-webkit-scrollbar-button:hover {
  border-color: #5F6366;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  font-size: 0.5rem;
  max-width: 18rem;
 
  .tooltip-inner {
    background: $transparenterblack;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
 
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: $transparenterblack;
    z-index: 1;
  }
 
  &[x-placement^="top"] {
    margin-bottom: 5px;
 
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
 
  &[x-placement^="bottom"] {
    margin-top: 5px;
 
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
 
  &[x-placement^="right"] {
    margin-left: 5px;
 
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
 
  &[x-placement^="left"] {
    margin-right: 5px;
 
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
 
  &.popover {
    $color: #f9f9f9;
 
    .popover-inner {
      background: $color;
      color: $black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba($transparenterblack, .1);
    }
 
    .popover-arrow {
      border-color: $color;
    }
  }
 
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
 
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.st_digitaltop {
  width: auto;
}

.statistics {
  display: flex;
  flex-direction: row;
}

.st_left {
  width: 4.5rem;
  margin-right: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.st_right {
  width: 5.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.bignumber {
  font-size: 1.6rem;
  font-weight: 700;
}

hr {
  background-color: rgba(220, 225, 228, 0.5);
  border-radius: 0.5rem;
}

.help {
  display: inline-block;
  cursor: pointer;
  width: 0.7rem;
  height: 0.7rem;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(0.15rem);
  border-radius: 0.2rem;
  background-image: url('../img/help.svg');
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.redeem {
  text-decoration: underline;
  color: $hoverred;
  cursor: pointer;
  font-weight: 800;
}

.redeem:hover {
  color: $activered;
}

.redeem:active {
  color: $darkerhoverred;
}

.minutenote {
  width: auto;
}

#pause {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: $bgwhite;
}

@supports (backdrop-filter: blur(5px)) {
  #pause {
    background: none;
    -webkit-backdrop-filter: blur(8px); 
    backdrop-filter: blur(8px); 
  }
}

.resume {
  display: inline-block;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background: $bgwhite;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/resume.svg');
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1), 0 -0.2rem 0.7rem 0.2rem rgba(65, 64, 63, 0.05);
}

.direct-shutdown {
  position: fixed;
  width: 2rem;
  height: 2rem;
  bottom: 0;
  left: 0;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.shutdown {
  display: inline-block;
  padding: 0;
  width: 1.4rem;
  height: 1.4rem;
  background: $white;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/shutdown.svg');
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1), 0 -0.2rem 0.7rem 0.2rem rgba(65, 64, 63, 0.05);
}

.shutdown:hover {
  padding: 0;
  width: 1.4rem;
  height: 1.4rem;
  background: $black;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/shutdown-white.svg');
}

.shutdown:active {
  width: 1.4rem;
  height: 1.4rem;
  background: $white;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/shutdown.svg');
}

.go-shutdown {
  position: fixed;
  width: 2rem;
  height: 2rem;
  bottom: 0;
  left: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.check-shutdown {
  display: inline-block;
  padding: 0;
  width: 1.4rem;
  height: 1.4rem;
  background: $white;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/submit.svg');
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.3rem 0.02rem rgba(65, 64, 63, 0.1), 0 -0.2rem 0.7rem 0.2rem rgba(65, 64, 63, 0.05);
}

.check-shutdown:hover {
  padding: 0;
  width: 1.4rem;
  height: 1.4rem;
  background: $black;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/submit-white.svg');
}

.check-shutdown:active {
  width: 1.4rem;
  height: 1.4rem;
  background: $white;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/submit.svg');
}

.upperright {
  position: fixed;
  right: 0.2rem;
}

.upperrightbtn {
  background: none;
  cursor: pointer;
}

.upperright-minimal {
  position: fixed;
  right: 1.8rem;
}

.close {
  display: inline-block;
  padding: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/close.svg');
  margin-top: 0.1rem;
  margin-right: 0.2rem;
}

.moretimepopup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.warnmoretimefather {
  width: 12rem;
}

.warnmoretimefather-use-rpoint {
  margin-top: 0.2rem;
}

.warnmoretime {
  width: 12rem;
  transform: translateX(0);
}