html {
  background-color: #efeeee;
  background-size: contain;
  font-family: 'Alibaba PuHuiTi', '-apple-system', 'San Francisco', BlinkMacSystemFont, 'Helvetica Neue', Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

body {
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (max-height: 580px) and (min-height: 271px) {
  body {
    overflow-y: auto;
  }
}

@media screen and (max-height: 271px) {
  body {
    overflow-y: hidden;
  }
}

#nbsppart {
  padding-top: 8vh;
}

#timingnbsppart {
  padding-top: 2vh;
}

#tutorialnbsppart {
  padding-top: 2vh;
}

#settingsnbsppart {
  padding-top: 8vh;
}

@media screen and (min-width: 321px) {
  html {
    background-image: url('../img/background.jpg');
  }
  #nbsppart, #timingnbsppart {
    padding-top: 20vh;
  }
  #tutorialnbsppart {
    padding-top: 4vh;
  }
  #main {
    padding: 2em 1.2em;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(228, 228, 228));
    border-radius: 20px;
    border: 5px rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 50px rgba(112, 110, 110, 0.7), -10px -10px 32px rgba(255, 255, 255, 1), inset 4px 4px 0px rgba(255, 255, 255, 0.6), inset 6px 6px 4px rgba(255, 255, 255, 0.4), inset -4px -4px 2px rgba(102, 99, 99, 0.3), inset -6px -6px 12px rgba(102, 99, 99, 0.2);
  }
}

@media screen and (min-width: 501px) {
  html {
    font-size: 24px;
  }
}

input{  
  background:none;  
  outline:none;  
  border:none;
}

input:focus{   
  border:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

@font-face {
  font-family: "digital";
  src: url("../font/digital.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.setting-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
}

.hr {
  height: 1em;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 10px;
  font-size: 1em;
  font-family: "Alibaba PuHuiTi", sans-serif;
}

.on-notbtn {
  background-color: #efeeee;
  border: 5px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(184, 182, 179, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.9);
}

.on {
  cursor: pointer;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) , rgba(228, 228, 228, 0.4));
  background-color: #efeeee;
  border: 5px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(184, 182, 179, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.9),inset 3px 3px 3px rgba(209, 205, 199, 0.2), inset -3px -3px 3px rgba(255, 255, 255, 0.2);
}

.on:hover {
  cursor: pointer;
  color: #efeeee;
  background-color: #e05e5eef;
  border: 15px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(105, 103, 100, 0.5), -6px -6px 16px rgba(255, 255, 255, 1);
}

.on:active {
  cursor: pointer;
  color: black;
  background-color: #efeeee;
  border: 15px rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 4px rgba(209, 205, 199, 0.5), -3px -3px 4px rgba(255, 255, 255, 0.5), inset 3px 3px 4px rgba(209, 205, 199, 0.5), inset -3px -3px 4px rgba(255, 255, 255, 0.5);
}

.off {
  background-color: #e7e7e7;
  border: 5px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(209, 205, 199, 0.5), inset -3px -3px 5px rgba(255, 255, 255, 0.5);
}

.border {
  background-color: #efeeee;
  border: 15px rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 1px rgba(209, 205, 199, 0.5), -3px -3px 1px rgba(255, 255, 255, 0.5), inset 3px 3px 1px rgba(209, 205, 199, 0.5), inset -3px -3px 1px rgba(255, 255, 255, 0.5);
}

.digital {
  font-family: 'digital';
  width: 3em;
  font-size: 2.1em;
  text-align: right;
  text-shadow: 0 0 2px rgba(65, 64, 63, 0.5);
}

.digitalnote {
  color: rgba(0, 0, 0, 0.233);
}

.digitaltop {
  width: 100%;
  font-size: 0.6em;
  text-align: right;
  text-shadow: 0 0 2px rgba(65, 64, 63, 0.5);
}

.digitalboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  border-radius: 10px;
}

.notifyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  border-radius: 10px;
  width: 15.6em;
}

.digitalfather {
  text-align: right;
}

.juniordigitalboard {
  border-radius: 10px;
  padding: 0.5em 0.5em 0.2em 1em;
  margin: 0.1em 0.1em;
  width: 100%;
  height: 50%;
  box-shadow: inset 0 0 3px rgba(65, 64, 63, 0.5);
  background-image: linear-gradient(to right, rgba(205,210,196,1) , rgba(170,181,155,1));
}

.juniornotifyboard {
  color: rgba(242,224,0,1);
  border-radius: 10px;
  padding: 0.5em 0.5em 0.2em 1em;
  margin: 0.1em 0.1em;
  width: 100%;
  height: 50%;
  box-shadow: inset 0 0 3px rgba(65, 64, 63, 0.5);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==),linear-gradient(to bottom, rgba(66, 66, 66, 0.8) , rgba(8, 8, 8, 0.8));
}

.notifytop {
  font-size: 0.8em;
  text-align: left;
}

.notifyfather {
  font-size: 1.1em;
  text-shadow: 0 0 2px rgba(255, 247, 135, 0.5);
}

.warnfather {
  padding: 0.5em 0.5em 0.5em 1em;
  margin: 0.4em 0.1em;
  width: 14em;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.warnfathers div:nth-child(2) {
  margin-top: 0;
  padding-top: 0;
}

.warn {
  font-size: 0.8em;
  color: rgb(54, 54, 54);
  font-weight: 800;
}

.largebtn {
  padding: 0.8em 5.8em;
  cursor: pointer;
}

.largebtn-notbtn {
  padding: 0.8em 5.8em;
}

.largebtn-innertext {
  width: 4em;
}

.titlepart {
  padding-top: 0.8em;
  width: 15.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 1em;
  width: 10em;
  padding: 0.5em 0.5em;
  margin-top: 0.5em;
  font-weight: 400; 
}

.titlebtns {
  display: flex;
  flex-direction: row;
  align-content: right;
}

.titlebtn {
  margin-left: 0.6em;
  font-size: 0.8em;
}

*{
  outline:none;
  border-color: transparent;
  box-shadow: none;
}

::-moz-focus-inner {
  border-color: transparent;
}

.transparent {
  background-color: transparent;
  border: 15px rgba(255, 255, 255, 0);
}

.cancelbtn {
  padding-top: 0.2em;
  padding-bottom: 0.1em;
}

.small {
  color: grey;
  font-size: 0.5em;
  padding: 0 0;
  margin: 0 0;
  text-align: center;
}

.authorinfo {
  padding: 0.1em 0.1em;
  font-size: 0.6em;
  color: grey;
  text-align: center;
}

.label {
  color: grey;
  font-size: 0.8em;
}

.switch-on {
  background-color: transparent;
  background-image: url('../img/on.png');
  width: 81px;
  height: 62px;
  cursor: pointer;
}

.switch-off {
  background-color: transparent;
  background-image: url('../img/off.png');
  width: 81px;
  height: 62px;
  cursor: pointer;
}

.select {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 0.8em;
}

.left {
  text-align: left;
  justify-content: left;
  padding-left: 0.1em;
}

.about {
  width: 1.417em;
  height: 1.417em;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: 1em;
  margin-left: 0.2em;
  background-image: url('../img/about.svg');
}

.back {
  width: 1.417em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url('../img/back.svg');
}

.back:hover, .settingleftbtn:hover .back {
  background-image: url('../img/back-white.svg');
}

.back:active, .settingleftbtn:active .back {
  background-image: url('../img/back.svg');
}

.submit {
  width: 1.417em;
  height: 1.417em;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: 1em;
  margin-left: 0.2em;
  background-image: url('../img/submit.svg');
}

.submit:hover {
  background-image: url('../img/submit-white.svg');
}

.submit:active {
  background-image: url('../img/submit.svg');
}

.settings {
  width: 1.417em;
  height: 1.417em;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: 1.02em;
  margin-left: 0.2em;
  background-image: url('../img/settings.svg');
}

.exit {
  width: 1.417em;
  height: 1.417em;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: 1.06em;
  margin-left: 0.2em;
  background-image: url('../img/exit.svg');
}

.breathe-div {
  width: 5px;
  height: 5px;
  border: 1px solid #d42b2b;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-right: 1em;
  flex-shrink: 0;
  animation-timing-function: ease-in-out;
  animation-name: breathe;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes breathe {
  0% {
      opacity: .4;
      box-shadow: 0 1px 2px rgba(223, 0, 0, 0.4), 0 1px 1px rgba(223, 0, 0, 0.1) inset;
  }

  100% {
      opacity: 1;
      border: 1px solid rgba(235, 59, 59, 0.7);
      box-shadow: 0 1px 30px #df0000, 0 1px 20px #df0000 inset;
  }
}

.tutorial-a {
  color: black;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.tutorial-a:hover {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.tutorial-a:active {
  color: lightgrey;
  text-decoration: none;
  cursor: pointer;
}

.tutorialboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  border-radius: 10px;
  width: 15.6em;
}

.tutorial {
  border-radius: 10px;
  padding: 0.5em 0.5em 0.2em 1em;
  margin: 0.1em 0.1em;
  width: 100%;
  height: 14em;
  box-shadow: inset 0 0 3px rgba(65, 64, 63, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameicon {
  height: 7em;
}

#gameicon-page1-page6 {
  height: 4.5em;
}

#gameiconfather {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wholemorning {
  font-weight: 100;
}

#wholemorning-mrnoplay {
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}

.red {
  color: #e05e5eef;
}

.settingfield {
  background-color: #efeeee;
  border: 5px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 3px 3px 1px rgba(209, 205, 199, 0.5), -3px -3px 1px rgba(255, 255, 255, 0.5), inset 3px 3px 1px rgba(209, 205, 199, 0.5), inset -3px -3px 1px rgba(255, 255, 255, 0.5);
  padding-top: 0.4em;
  padding-bottom: 0.7em;
  padding-left: 0.4em;
  margin-bottom: 0.8em;
}

.settinginput {
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 10px;
  font-size: 0.8em;
  width: 11em;
  font-family: "Alibaba PuHuiTi", sans-serif;
}

.settingbtn {
  width: 1.9em;
  height: 1.9em;
  margin-left: 0.2em;
  margin-top: 0.4em;
  margin-right: 0.5em;
}

.settingbtn:hover {
  background-color: #e05e5eef;
}

.settingbtn:active {
  background-color: #efeeef;
}

.input-btn {
  display: flex;
  flex-direction: row;
}

.settingwarn {
  margin-bottom: 0;
  padding-bottom: 0.1em;
}

.centralnbsp {
  padding-top: 0.7em;
}

.settingleftbtn {
  margin-top: 0;
}

.settingleftbtn:active {
  cursor: pointer;
  color: black;
  background-color: #efeeee;
  border: 15px rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 3px rgba(209, 205, 199, 0.9), -1px -1px 3px rgba(255, 255, 255, 0.5), inset 2px 2px 3px rgba(209, 205, 199, 0.9), inset -2px -2px 3px rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 321px) {
  .main-like {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(228, 228, 228));
    border: 5px rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 50px rgba(112, 110, 110, 0.7), -10px -10px 32px rgba(255, 255, 255, 1), inset 4px 4px 0px rgba(255, 255, 255, 0.6), inset 6px 6px 4px rgba(255, 255, 255, 0.4), inset -4px -4px 2px rgba(102, 99, 99, 0.3), inset -6px -6px 12px rgba(102, 99, 99, 0.2);
  }

  .main-like-btn {
    border: 5px rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 50px rgba(112, 110, 110, 0.7), -10px -10px 32px rgba(255, 255, 255, 1), inset 4px 4px 0px rgba(255, 255, 255, 0.6), inset 6px 6px 4px rgba(255, 255, 255, 0.4), inset -4px -4px 2px rgba(102, 99, 99, 0.3), inset -6px -6px 12px rgba(102, 99, 99, 0.2);
  }
}

.hover-red:hover {
  background: #e05e5eef;
}

.hover-red:active {
  background: #efeeee;
}

.Breadstick__alert {
  -webkit-app-region: no-drag;
  font-family: 'Alibaba PuHuiTi'!important;
  font-size: 0.6em!important;
  margin-top: 1em!important;
  margin-right: 1em!important;
  opacity: 0.8;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) , rgba(228, 228, 228, 0.8))!important;
  border: 5px rgba(255, 255, 255, 0.2)!important;
  box-shadow: 10px 10px 50px rgba(112, 110, 110, 0.7), -10px -10px 32px rgba(255, 255, 255, 1), inset 4px 4px 0px rgba(255, 255, 255, 0.6), inset 6px 6px 4px rgba(255, 255, 255, 0.4), inset -4px -4px 2px rgba(102, 99, 99, 0.3), inset -6px -6px 12px rgba(102, 99, 99, 0.2)!important;
}

.pagetitle {
  font-size: 1.5em;
  font-weight: 700;
}

.pagetext {
  font-size: 0.6em;
  color: grey;
}

.smallerlabel {
  font-size: 0.45em;
}

.smallerlabelfather {
  height: 0.63rem;
  transform: translate(0, -0.3rem);
}

.tostartonlogin {
  text-align: left;
  width: 100%;
  display: inline-block;
  border: 0;
}