html {
  background-color: #efeeee;
  font-family: sans-serif;
}

body {
  height: 100vh;
}

@media screen and (min-width: 241px) {
  #nbsppart {
    padding-top: 20vh;
  }
}

input{  
  background:none;  
  outline:none;  
  border:none;
}

input:focus{   
  border:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

@font-face {
  font-family: "digital";
  src: url("digital.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.hr {
  height: 1em;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 10px;
}

.on {
  background-color: #efeeee;
  border: 5px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(184, 182, 179, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.9);
}

.on:hover {
  background-color: #efeeee;
  border: 15px rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 1px rgba(209, 205, 199, 0.5), -3px -3px 1px rgba(255, 255, 255, 0.5), inset 3px 3px 1px rgba(209, 205, 199, 0.5), inset -3px -3px 1px rgba(255, 255, 255, 0.5);
}

.on:active {
  color: #efeeee;
  background-color: #e05e5eef;
  border: 15px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(105, 103, 100, 0.5), -6px -6px 16px rgba(255, 255, 255, 1);
}

.off {
  background-color: #e7e7e7;
  border: 5px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(209, 205, 199, 0.5), inset -3px -3px 5px rgba(255, 255, 255, 0.5);
}

.border {
  background-color: #efeeee;
  border: 15px rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 1px rgba(209, 205, 199, 0.5), -3px -3px 1px rgba(255, 255, 255, 0.5), inset 3px 3px 1px rgba(209, 205, 199, 0.5), inset -3px -3px 1px rgba(255, 255, 255, 0.5);
}

.digital {
  font-family: 'digital';
  width: 3em;
  font-size: 2em;
  text-align: right;
  text-shadow: 0 0 2px rgba(65, 64, 63, 0.5);
}

.digitaltop {
  width: 100%;
  font-size: 0.4em;
  text-align: right;
  text-shadow: 0 0 2px rgba(65, 64, 63, 0.5);
}

.digitalboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  border-radius: 10px;
}

.juniordigitalboard {
  border-radius: 10px;
  padding: 0.5em 0.5em 0.2em 1em;
  margin: 0.1em 0.1em;
  width: 100%;
  height: 50%;
  box-shadow: inset 0 0 3px rgba(65, 64, 63, 0.5);
  background-image: linear-gradient(to right, rgba(205,210,196,1) , rgba(170,181,155,1));
}

.largebtn {
  padding: 0.8em 7em;
}

.titlepart {
  padding-top: 0.8em;
  width: 10.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 0.7em;
  width: 6em;
  padding: 0.5em;
  margin-top: 0.5em;
  font-weight: 450; 
}

.titlebtns {
  display: flex;
  flex-direction: row;
}

.titlebtn {
  margin-left: 0.5em;
}