html {
  background-color: #efeeee;
  font-family: 'Alibaba Sans';
}

body {
  height: 100vh;
}

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_6ka5o2ksb3x.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_6ka5o2ksb3x.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_6ka5o2ksb3x.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_6ka5o2ksb3x.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_6ka5o2ksb3x.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_6ka5o2ksb3x.svg#AlibabaPuHuiTiM') format('svg'); /* iOS 4.1- */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.hr {
  height: 1em;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin-top: 0.5em;
  border-radius: 10px;
}

.on {
  background-color: #efeeee;
  border: 5px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5);
}

.off {
  background-color: #e7e7e7;
  border: 5px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5), -6px -6px 16px rgba(255, 255, 255, 0.5), inset 3px 3px 5px rgba(209, 205, 199, 0.5), inset -3px -3px 5px rgba(255, 255, 255, 0.5);
}

.border {
  background-color: #efeeee;
  border: 15px rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 1px rgba(209, 205, 199, 0.5), -3px -3px 1px rgba(255, 255, 255, 0.5), inset 3px 3px 1px rgba(209, 205, 199, 0.5), inset -3px -3px 1px rgba(255, 255, 255, 0.5);
}

.click {
  color: #efeeee;
  background-color: #e05e5eef;
  border: 15px rgba(255, 255, 255, 0.2);
  box-shadow: 6px 6px 16px rgba(105, 103, 100, 0.5), -6px -6px 16px rgba(255, 255, 255, 1);
}